



.prot {
  background-color: #ddd;
  width: 600px;
  height: 830px;
  padding: 20px;
  margin: 20px auto;
  position: relative;
}
.name {
  min-width: 560px;
  height: 140px;
  background-color: white;
  position: absolute;
  padding: 10px;
  margin: -.5px 10px;
  display: flex;
  flex-wrap: wrap;
  color: rgb(97 106 113);
  font-size: 10px;
  font-family: sans-serif;

}
.name .clay::before {
  content: "";
  width: 113px;
  height: 11px;
  position: absolute;
  background-color: #f1f1f1;
  top: 117px;
  border-radius: 3px;
}
.name .clay::after {
  content: "";
  width: 81px;
  height: 11px;
  position: absolute;
  background-color: #009688;
  top: 117px;
  border-radius: 3px;
}
.an {
  position: absolute;
  margin-top: 42px;
  right: 25px;
  line-height: 2.2;
}
.sec {
  position: absolute;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  left: 163px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}
.name::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: rgb(97 106 113);
  left: 133px;
  top: 0;
  opacity: 0.1;
  font-weight: bold;
}
.name::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ddd;
  left: 26px;
}
img {
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  z-index: 1;
  left: 28px;
  top: 12px;
}
.chil  {
  position: absolute;
  top: 96px;
  left: 49px;
  font-size: 10px;
  font-weight: bold;
  font-family: cursive;
  color: black;
}
.ner {
  position: absolute;
  padding: 10px;
  right: 0;
  bottom: 0;
}
.bty {
  position: absolute;
  bottom: 15px;
  left: 35px;
  font-size: 7px;
}
p {
  position: absolute;
  color: #009688;
  top: -7px;
  left: -10px;
  font-weight: bold;
}
.prn {
  position: absolute;
  min-width: 581px;
  height: 136px;
  background-color: white;
  top: 198px;
  left: 30px;
}
.prn::before {
  position: absolute;
  content: "Posting Log";
  padding: 10px;
  background: #607d8b;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 53px;
  height: 5px;
  display: flex;
  align-items: center;
  font-family: cursive;
  word-spacing: -1px;

}
.prn .li1 {
  color: #616a71;
  margin-bottom: 15px;
  position: relative;
  bottom: -42px;
  left: 13px;
  font-size: 12px;
  
}
.vig::before {
  position: absolute;
  content: "";
  height: 555px;
  width: 1px;
  background-color: #616a71;
  opacity: 0.1;
  font-weight: bold;
  top: -10px;
  left: 200px;
  transform: rotatez(90deg);

}
.vig::after {
  position: absolute;
  content: "";
  height: 555px;
  width: 1px;
  background-color: #616a71;
  opacity: 0.1;
  font-weight: bold;
  top: -184px;
  left: 291px;
  transform: rotatez(90deg);

}

/* .rashid_3 {
  color: red;
  
} */
.youn {
  position: absolute;
  min-width: 581px;
  height: 136px;
  background-color: white;
  top: 353px;
  left: 30px;
}
.youn::before {
  position: absolute;
  content: "Trophies";
  padding: 10px;
  background: #607d8b;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 36px;
  height: 5px;
  display: flex;
  align-items: center;
  font-family: cursive;
  word-spacing: -1px;
  justify-content: end;
}
.youn .img1 {
  position: absolute;
  display: block;
  top: 47px;
  border-radius: 0;
  left: 17px;
}
.youn .img2 {
  position: absolute;
  display: block;
  top: 47px;
  border-radius: 0;
  left: 205px;
}


.youn .img3 {
  position: absolute;
  display: block;
  top: 47px;
  border-radius: 0;
  left: 300px;
  opacity: 0.2;
}
.youn .img4 {
  position: absolute;
  display: block;
  top: 47px;
  border-radius: 0;
  left: 396px;
}
.youn .img5 {
  position: absolute;
  display: block;
  top: 47px;
  border-radius: 0;
  left: 490px;
}
.youn .img6 {
  position: absolute;
  display: block;
  top: 47px;
  border-radius: 0;
  left: 110px;
  opacity: 0.2;
}
.def {
  position: absolute;
  min-width: 581px;
  height: 72px;
  background-color: white;
  bottom: 290px;
  left: 29px;
}
.def::before {
  position: absolute;
  content: "Leadder News";
  padding: 10px;
  background: #607d8b;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 68px;
  height: 5px;
  display: flex;
  align-items: center;
  font-family: cursive;
  word-spacing: -1px;
  justify-content: end;
}
.def .hop {
  top: 32px;
  left: 9px;
  color: #616a71;
  font-size: 12px;
}
.power {
  position: absolute;
  min-width: 581px;
  height: 250px;
  background-color: white;
  bottom: 19px;
  left: 30px;
}
.power::before {
  content: "Your Power";
  position: absolute;
  padding: 10px;
  background: #607d8b;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 54px;
  height: 5px;
  display: flex;
  align-items: center;
  font-family: cursive;
  justify-content: end;
}
.grand .san {
  position: relative;
  margin-bottom: 18px;
  bottom: -50px;
  left: 10px;
  color: #616a71;
  font-size: 12px;
}
.foo .bn {
  position: relative;
  margin-bottom: 19px;
  right: -543px;
  bottom: 143px;
  font-size: 12px;
  color: #616a71;
}
.bn::before {
  content: "";
  width: 1px;
  height: 100%;
}
.foo .bn::before {
  position: absolute;
  content: "";
  height: 555px;
  width: 1px;
  background-color: #616a71;
  opacity: 0.1;
  font-weight: bold;
  top: -255px;
  left: -258px;
  transform: rotatez(90deg);

}
.sp,
.ye {
  color: #009688;
}
.no,
.fr,
.cm {
  color: red;
}
.co {
  color: blue;
}
