/* Start display */
.d-flex {
    display: flex
}
.align-items {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
 @media (max-width: 767px) {
    .block-mobile {
      display: block;
    }
}
.block-mobile {
    display: block;
}
/* End display */
/* start Margin + Padding */
.mt-0 {
    margin-top: 0;
}
.p-20 {
    padding: 20px;
}
.m-20 {
    margin: 20px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
/* End Margin + Padding */
/* Start Colors */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
 }
 .c-black {
    color: black;
}
/* End Colors */
/* Start Position */
.p-relative {
    position: relative;
}

/* End Position */
.rad-6 {
    border-radius: 6px;
}
/* Start Fonts */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
@media (max-width: 767px) {
    .txt-c-mobile {
      text-align: center;
    }
  }
/* End Fonts */
/* Start Border  */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* End Border  */
/* Start Componant */
.d-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-full {
    width: 100%;
} 
/* End Componant */

